<div class="inventory-container">
  <mat-toolbar class="inventory-toolbar">
    @let getPlayer = character();
    <span>{{ 'game.inventory.title' | translate }} > {{ getPlayer?.name }}</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="onClose()" matTooltip="{{ 'common.close' | translate }}">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <div class="main-panel">
    @let getInventory = inventory();
    @let getSelectedItemInstance = selectedItemInstance();

    @let getArmorInstance = armorInstance();
    @let getPrimaryWeaponInstance = primaryWeaponInstance();
    @let getSecondaryWeaponInstance = secondaryWeaponInstance();

    @let getArmor = getArmorInstance?.item | asItem : ItemType.ARMOR;
    @let getPrimaryWeapon = primaryWeapon();
    @let getSecondaryWeapon = secondaryWeapon();

    @let getPrimaryWeaponMode = primaryWeaponMode();
    @let getSecondaryWeaponMode = secondaryWeaponMode();

    <app-inventory-list [inventoryItems]="getInventory.items"
                        [armorInstanceId]="getArmorInstance?.id"
                        [primaryWeaponInstanceId]="getPrimaryWeaponInstance?.id"
                        [secondaryWeaponInstanceId]="getSecondaryWeaponInstance?.id"
                        (selectItem)="selectItem($event)"/>

    <app-inventory-character [inventoryCurrentWeight]="getInventory.currentWeight"
                             [inventoryMaxWeight]="getInventory.maxWeight"
                             [armorInstance]="getArmorInstance"
                             [primaryWeaponInstance]="getPrimaryWeaponInstance"
                             [secondaryWeaponInstance]="getSecondaryWeaponInstance"
                             [armor]="getArmor" [primaryWeapon]="getPrimaryWeapon"
                             [secondaryWeapon]="getSecondaryWeapon"
                             [primaryWeaponMode]="getPrimaryWeaponMode"
                             [secondaryWeaponMode]="getSecondaryWeaponMode"
                             (selectItemEvent)="selectItem($event)"
                             (changeWeaponModeEvent)="changeWeaponMode($event)"/>

    <app-inventory-stats [player]="getPlayer"
                         [armorInstance]="getArmorInstance"
                         [primaryWeaponInstance]="getPrimaryWeaponInstance"
                         [secondaryWeaponInstance]="getSecondaryWeaponInstance"
                         [armor]="getArmor"
                         [primaryWeapon]="getPrimaryWeapon"
                         [secondaryWeapon]="getSecondaryWeapon"
                         [primaryWeaponMode]="getPrimaryWeaponMode"
                         [secondaryWeaponMode]="getSecondaryWeaponMode"/>

    <app-inventory-description [selectedItemInstance]="getSelectedItemInstance"/>
  </div>
</div>
