@let getArmor = armor();
@let getPrimaryWeapon = primaryWeapon();
@let getSecondaryWeapon = secondaryWeapon();

@let getArmorInstance = getArmor.instance;
@let getPrimaryWeaponInstance = getPrimaryWeapon.instance;
@let getSecondaryWeaponInstance = getSecondaryWeapon.instance;

<mat-card class="character-section terminal">
	<mat-card-content>
		<mat-card class="character-picture screen-bg">
			<img ngSrc="assets/textures/player.svg" width="120" height="120"
			     [alt]="'game.inventory.character.portrait' | translate"/>
		</mat-card>

		<mat-divider></mat-divider>

		<!-- Slot d'armure -->
		<div (contextmenu)="getArmorInstance ? showSlotContextMenu($event, EquippedSlot.ARMOR, getArmor) : null"
		     (click)="selectItem(getArmorInstance)">
			<app-inventory-slot
				[slot]="EquippedSlot.ARMOR"
				[itemDetail]="getArmor"
				[label]="'game.inventory.slots.armor' | translate"/>
		</div>

		<!-- Slot d'arme 1 -->
		<div (click)="selectItem(getPrimaryWeaponInstance)"
		     (contextmenu)="getPrimaryWeaponInstance ? showSlotContextMenu($event, EquippedSlot.PRIMARY_WEAPON, getPrimaryWeapon) : null">
			<app-inventory-slot
				[slot]="EquippedSlot.PRIMARY_WEAPON"
				[itemDetail]="getPrimaryWeapon"
				[label]="'game.inventory.slots.primaryWeapon' | translate"/>
		</div>

		<!-- Slot d'arme 2 -->
		<div (click)="selectItem(getSecondaryWeaponInstance)"
		     (contextmenu)="getSecondaryWeaponInstance ? showSlotContextMenu($event, EquippedSlot.SECONDARY_WEAPON, getSecondaryWeapon) : null">
			<app-inventory-slot
				[slot]="EquippedSlot.SECONDARY_WEAPON"
				[itemDetail]="getSecondaryWeapon"
				[label]="'game.inventory.slots.secondaryWeapon' | translate"/>
		</div>

		<!-- Poids -->
		<section class="weight-info">
			<div>{{ 'game.inventory.stats.weight' | translate }}</div>
			<div>{{ inventoryCurrentWeight() }} / {{ inventoryMaxWeight() }}</div>
		</section>
	</mat-card-content>
</mat-card>

<!-- Menu contextuel pour les actions sur les slots -->
<app-inventory-slot-context-menu
	[contextMenuPosition]="contextMenuPosition()"
	[contextMenuSlot]="contextMenuSlot()"
	[contextMenuItemDetail]="contextMenuItemDetail()"
	[currentShowContextMenu]="showContextMenu()"
	(showContextMenu)="showContextMenu.set($event)"
/>
