<mat-toolbar class="modal-toolbar">
	<app-player-summary/>
	<span class="spacer"></span>
	<button mat-icon-button (click)="close()" [matTooltip]="'common.close' | translate">
		<mat-icon>close</mat-icon>
	</button>
</mat-toolbar>

<div class="modal-container">
	<div class="grid terminal">
		<div class="tile special">
			<app-player-special/>
		</div>
		<div class="tile stats">
			<app-player-stats/>
		</div>
		<div class="tile additional-stats">
			<app-player-additional-stats/>
		</div>
		<div class="tile skills">
			<app-player-skills/>
		</div>
		<div class="tile traits">
			<app-player-traits/>
		</div>
		<div class="tile description">
			<app-player-description/>
		</div>
	</div>
</div>
