.modal-container {
	min-height: 0;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, minmax(250px, 1fr));
	grid-template-rows: auto auto auto; /* 3 parts, 1 part, 1 part */
	gap: 8px;
}

/* Spans */
.special {
	grid-column: 1 / span 1; /* Colonne 1 */
	grid-row: 1 / span 2; /* 2 lignes */
}

.stats {
	grid-column: 2 / span 1; /* Colonne 2 */
	grid-row: 1 / span 1; /* Ligne 1 */
}

.additional-stats {
	grid-column: 2 / span 1; /* Colonne 2 */
	grid-row: 2 / span 1; /* Ligne 2 */
}

.skills {
	grid-column: 3 / span 2; /* Colonnes 3-4 */
	grid-row: 1 / span 2; /* 2 lignes */
	min-height: 0;
	display: flex;
}

.traits {
	grid-column: 1 / span 2; /* Colonnes 1-2 */
	grid-row: 3 / span 1; /* 1 ligne */
}

.description {
	grid-column: 3 / span 2; /* Colonnes 3-4 */
	grid-row: 3 / span 1; /* 1 ligne */
}
