<mat-card class="terminal">
	<mat-card-content>
		<mat-grid-list [cols]="1" rowHeight="25px" gutterSize="4px">
			@let getConditionsInstances = conditionsInstances();
			@for (condition of conditions(); track condition.id) {
				@let names = condition.names;
				@let conditionInstance = getConditionsInstances.get(condition.id);
				<mat-grid-tile
					[style.opacity]="conditionInstance?.value ? '1' : '0.3'"
					(click)="selectCondition(condition)"
					[textContent]="names[currentLanguage()]"
				/>
			}

		</mat-grid-list>
	</mat-card-content>
</mat-card>
